.linktree-container {
  background-color: #141416;
}

header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/blue-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
}

.linktree-desc {
  color: #B1B5C4;
}

.linktree-main {
  width: 732px;
  margin: 54px auto 100px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}

.linktree-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #353945;
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
  border-radius: 8px;
  color: #FCFCFD;
}

.linktree-link:hover {
  background-color: #23262F;
  cursor: pointer;
}

.linktree-link-info {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.linktree-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.linktree-powered-text {
  font-size: 14px;
  color: #777E91;
}

@media (max-width: 767px) {
  .linktree-main {
    width: 80%;
  }
}